.box-form-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 70vh;
    width: 25vw;

    border: 3px solid rgb(151, 149, 149);
    border-radius: 10px;
}

.form-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 50vh;
    
}

.item-signup, .button-form-signup{
    height: 5vh;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
}

.button-form-signup{
    width: 10vw;
    font-size: 14px;
    font-weight: bold;
    color: #282c34;
    border: 1px solid transparent;
}

.button-form-signup:hover{
    cursor: pointer;
    border: 1px solid white;
    background-color: rgb(151, 149, 149);
    color: white;
}

.erro-feedback-signup{
    color: red;
    font-size: 10px;
    
}